@import url("https://fonts.googleapis.com/css?family=Piedra");
@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Sriracha");

body {
    background: #FE654F;
}
header {
    text-align: center;
}
header h1{
    font-size: 60px;
    font-family: Piedra;
    text-transform: uppercase;
}
#header-img {
    margin-top: 50px;
    width: 150px;
    height: 150px;
}
nav {
    font-family: Satisfy;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(214, 239, 255, 0.9);
    height: 70px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style-type: none;
    border: black;
    font-size: 25px;
}
nav ul li a{
    color: Black;
}
form {
    font-family: Sriracha;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: auto;
    padding: 3px;
}
#submit-btn {
    margin: 5px;
    background-color: #D6EFFF;
}
#owners {
    margin: auto;
    display: block;
    width: 333.33px;
    height: 444.33px;
}
#video {
    margin: auto;
    display: block;
}
main {
    display: flex;
    flex-direction: column;
}
#pricing-div {
    display: flex;
    flex-direction: row;
    text-align: center;
}
#regular, #special, #bulk{
    border-left: solid;
}
#pricing-div div {
    margin: 5px;
    padding: 2px;
}
section {
    padding: 10px;
    margin: 20px;
    background-color: #FED99B;
}
section h1{
    font-family: Satisfy;
}
section *{
    font-family: Sriracha;
}
#contact {
    text-align: center;
}

